body {
  font-family: var(--primary-font);
  color: rgba(var(--cl-dark));
  background-color: rgba(var(--cl-white));
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  color: rgba(var(--cl-dark));
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
    line-height: 1.2;
  }
}

.btn {
  min-width: 52px;
  width: 100%;
  padding: 14px 16px;
  background-color: rgba(var(--cl-green-linear-start));
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
  color: rgba(var(--cl-white));
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  transition: var(--fast-trns);
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 16px 20px;
    font-size: 18px;
    line-height: 1.55;
  }
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: rgba(var(--cl-darken-green));
}

.btn-secondary {
  border: 1px solid rgba(var(--cl-white), 0.4);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  color: rgba(var(--cl-green));
  background-color: rgba(var(--cl-white));
}

/* #region Card-set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-col);
  row-gap: var(--indent-row);
}
.card-set-item {
  width: calc((100% - var(--indent-col) * (var(--items) - 1)) / var(--items));
}
/* #endregion */
