body {
  font-family: var(--primary-font);
  color: rgba(18, 20, 23, 0.5);
  background-color: var(--cl-white);
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
