:root {
  --primary-font: 'Manrope', sans-serif;

  /* Colors */
  --cl-dark: 18, 20, 23;
  --cl-darken-green: 56, 174, 95;
  --cl-green: 77, 194, 116;
  --cl-green-linear-start: 77, 194, 116;
  --cl-green-linear-stop: 190, 232, 204;
  /* fill: linear-gradient(85deg, #4DC274 2.25%, #BEE8CC 131.25%); */
  --cl-light-green: 212, 253, 225;
  --cl-gray: 243, 245, 246;
  --cl-white: 255, 255, 255;

  /* --cl-body: 250 250 250;
  --cl-primary: 17 17 17;
  --cl-secondary: 76 76 76; */

  /* Position */
  --header-depth: 1;
  --backdrop-depth: 2;

  /* Others */
  --indent-col: 32px;
  --indent-row: var(--indent-col);
  --items: 3;

  /* Transitions */
  --fast-trns: 300ms ease;

  /* Animations */
  --base-delay: 800ms;
}
