.footer {
  padding: 20px 0;
  background-color: rgb(var(--cl-dark));
  color: rgb(var(--cl-white));
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

footer .footer-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  background-color: rgb(var(--cl-dark));
  color: rgb(var(--cl-white));
}

/* .logo {
  display: inline-flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0em;
  font-style: normal;
  line-height: normal;
  color: rgb(var(--cl-dark));
  color: 77, 194, 116;
} */


.footer-logo {

  color: rgb(var(--cl-white));
}

.footer-address-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(var(--cl-white), 0.6);
}




.footer-socials-icons {
  fill: rgb(var(--cl-white));
}