.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: inline-flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0em;
  font-style: normal;
  color: rgb(var(--cl-dark));
}

.logo-span {
  color: rgb(var(--cl-green));
}

.header-logo {
  margin-right: auto;
  padding: 21px 0;
}

@media only screen and (min-width: 1280px) {
  .header-logo {
    margin-right: 137px;
  }
}

.header-nav-list {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1279px) {
  .header-nav-list {
    display: none;
  }
}

.header-nav-link {
  position: relative;
  display: inline-block;
  padding: 33px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  font-style: normal;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 29px;
  width: 37px;
  height: 2px;
  background-color: rgb(var(--cl-green));
}

.header-socials {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .header-socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid rgba(var(--cl-dark), 0.1);
  transition: var(--fast-trns);
  transition-property: border-color;
}

.socials-icon {
  fill: rgb(var(--cl-dark), 100%);
  transition: var(--fast-trns);
  transition-property: fill;
}

.socials-link:active {
  border-color: rgba(var(--cl-green), 10%);
}

.socials-link:active .socials-icon {
  fill: rgba(var(--cl-green), 100%);
}

.mobile-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    width: 40px;
    height: 28px;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-menu-btn {
    display: none;
  }
}

.header-burger-icon {
  stroke: rgb(var(--cl-dark));
}
