.modal-overlay {
    background-color: rgba(var(--cl-dark), 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

}

@media screen and (max-width: 768px) {
    .modal-overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    }
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;

    width: 50%;
    height: 1000px;
    overflow-y: auto;

    padding: 20px 0px 32px 0px;

    background-color: rgba(var(--cl-green));
}

.modal-close-btn {
    position: absolute;

    top: 20px;
    right: 32px;

    padding: 0;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}

@media screen and (max-width: 375px) {
    .modal {
        width: 240px;
        height: 812px;

        padding: 20px 0px 20px 0px;
    }
}

@media screen and (max-width: 375px) {
    .modal-close-btn {
        width: 32px;
        height: 32px;
        right: 20px;
    }
}

.modal-close-btn:active {
    opacity: 0.8;
}

.modal-close-icon {
    stroke: rgb(var(--cl-white));
}

@media screen and (max-width: 375px) {
    .modal-close-icon {
        width: 32px;
        height: 32px;
    }
}

.modal-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-box-list {
    margin-top: 317px;
    margin-bottom: 417px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 375px) {
    .modal-box-list {
        margin-top: 228px;
        margin-bottom: 332px;
    }
}

.menu-nav-list {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: white;
}

.menu-list-item {
    color: (var(--cl-white));
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.menu-list-item:active {
    color: (var(--cl-white));
    opacity: 0.8;
}

.modal-socials {
    display: flex;
    align-items: center;
    gap: 12px;

}

.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    opacity: 0.8;
    border: 1px solid rgba(var(--cl-white), 0.1);
    transition: var(--fast-trns);
    transition-property: border-color;
}

.socials-icon {
    fill: rgb(var(--cl-white), 100%);
    transition: var(--fast-trns);
    transition-property: fill;
}

@media screen and (max-width: 375px) {
    .socials-icon {
        width: 26px;
        height: 26px;
    }
}

.socials-link:active {
    fill: rgb(var(--cl-green));
    border-color: rgba(var(--cl-white));
    background-color: rgba(var(--cl-white));
}

.socials-link:active .socials-icon {
    fill: rgba(var(--cl-green), 100%);
}