.reviews-annotation {
  max-width: 335px;
  margin-bottom: 40px;
  color: rgba(var(--cl-dark), 0.5);
  font-size: 14px;
  text-align: center;
  line-height: 1.7;
}

@media only screen and (min-width: 768px) {
  .reviews-annotation {
    max-width: 647px;
    margin-bottom: 64px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-annotation {
    margin-left: auto;
    margin-right: auto;
  }
}

.review-list {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .review-list {
    flex-direction: row;
  }
}

.review-card {
  display: block;
  padding: 20px;
  width: 100%;
  max-width: 335px;
  min-height: 278px;
  border-radius: 16px;
  background-color: rgba(var(--cl-gray));
}

.review-card:nth-last-child(-n + 2) {
  display: none;
}

@media only screen and (min-width: 768px) {
  .review-card {
    padding: 32px 16px;
    min-height: 326px;
  }
  .review-card:nth-last-child(2) {
    display: list-item;
  }
}

@media only screen and (min-width: 1280px) {
  .review-card {
    width: 320px;
  }
  .review-card:last-child {
    display: list-item;
  }
}

.review-card-info {
  display: flex;
  align-items: center;

  padding: 14px;
  background-color: rgba(var(--cl-green));
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .review-card-info {
    padding: 14px 16px;
  }
}

.reviewer-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.reviewer-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: rgba(var(--cl-white));
}

.reviewer-occupation {
  font-size: 12px;
  line-height: 1.3;
  color: rgba(var(--cl-white), 0.5);
}

.review-card-comment {
  max-width: 267px;
  margin: 20px 14px 0 14px;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(var(--cl-dark), 0.5);
}

@media only screen and (min-width: 768px) {
  .review-card-comment {
    margin: 32px 16px 0 16px;
    font-size: 16px;
    line-height: 1.5;
  }
}


  /* ------------------------- */
  /* #region animation styles  */
  /* ------------------------- */

  /* #region Перевизначення стилей для анімації */
  .reviews-list-animated {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 20px;
    padding: 8px 0;
  }
  @media only screen and (min-width: 768px) {
    .reviews-list-animated {
      column-gap: 32px;
    }
  }
  .review-card-wrap {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .review-card-wrap {
      width: 356px;
    }
  }
  @media only screen and (min-width: 768px) {
    .review-card-wrap {
      width: 320px;
    }
  }
  .review-card-animated {
    width: 89vw;
  }
  @media only screen and (min-width: 768px) {
    .review-card-animated {
      width: 336px;
    }
  }
  @media only screen and (min-width: 1280px) {
    .review-card-animated {
      width: 320px;
    }
  }
  .review-card-animated:nth-last-child(-n + 2) {
    display: list-item;
  }
  /* #endregion */

/* #region Animation will work only if brouser supports scroll-driven animation */
 @supports (animation-timeline: scroll()) {
  .reviews-list-animated li {
    /* Track this element as it intersects the scrollport */
    view-timeline-name: --li-in-and-out-of-view;
    view-timeline-axis: inline;

    /* Link an animation to the established view-timeline and have it run during the contain phase */
    animation: linear adjust-z-index both;
    animation-timeline: --li-in-and-out-of-view;

    /* Make the 3D stuff work… */
    perspective: var(--perspective);
    z-index: 1;
    will-change: z-index;
  }

  .reviews-list-animated li:first-of-type {
    margin-left: var(--margin-animation);
  }
  .reviews-list-animated li:last-of-type {
    margin-right: var(--margin-animation);
  }

  .reviews-list-animated li > .review-card-animated {
    /* Link an animation to the established view-timeline (of the parent li) and have it run during the contain phase */
    animation: linear rotate-cover both;
    animation-timeline: --li-in-and-out-of-view;

    /* Prevent FOUC */
    transform: translateX(-100%) rotateY(-45deg);
    will-change: transform;
  }
 }
/* #endregion */

  /* #region @keyframes */
  /* Animation bumps up the z-index, to make sure it’s on top */
  @keyframes adjust-z-index {
    0% {
      z-index: 1;
    }
    50% {
      z-index: 100; /* When at the center, be on top */
    }
    100% {
      z-index: 1;
    }
  }
  /* Animation that rotates the cover */
  @keyframes rotate-cover {
    0% {
      transform: translateX(-50%) rotateY(-45deg) scale(0.6);
    }
    5% {
      transform: translateX(-30%) rotateY(-25deg) scale(0.7);
    }
    50% {
      transform: rotateY(0deg) scale(1);
    }
    95% {
      transform: translateX(30%) rotateY(25deg) scale(0.7);
    }
    100% {
      transform: translateX(50%) rotateY(45deg) scale(0.6);
    }
  }
  @media only screen and (min-width: 768px) {
    @keyframes rotate-cover {
      0% {
        transform: translateX(-60%) rotateY(-35deg) scale(0.7);
      }
      35% {
        transform: translateX(-5%) rotateY(-15deg) scale(0.9);
      }
      50% {
        transform: rotateY(0deg) translateZ(1em) scale(1);
      }
      65% {
        transform: translateX(5%) rotateY(15deg) scale(0.9);
      }
      100% {
        transform: translateX(60%) rotateY(35deg) scale(0.7);
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    @keyframes rotate-cover {
      0% {
        transform: translateX(-80%) rotateY(-35deg) scale(0.7);
      }
      35% {
        transform: translateX(0) rotateY(0deg) scale(1);
      }
      50% {
        transform: rotateY(0deg) translateZ(1em) scale(1);
      }
      65% {
        transform: translateX(0) rotateY(0deg) scale(1);
      }
      100% {
        transform: translateX(80%) rotateY(35deg) scale(0.7);
      }
    }
  }
  /* #endregion */

  /* ---------- */
  /* #endregion */

