<footer class="footer" id="contact_us">
  <div class="container footer-container">
    <div class="footer-top">
      <nav class="footer-nav-top">
        <!-- Logo -->
        <a class="logo footer-logo" href="#">
          english<span class="logo-span footer-logo-span">excellence</span>.
        </a>

        <!-- Contact Section -->
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-address-item">
              <p class="footer-text footer-address-text">Phone number:</p>
              <a
                class="footer-address-link"
                href="tel:+380684439426"
                aria-label="Call +380 (68) 443-94-26"
              >
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-address-item">
              <p class="footer-text footer-address-text">Address:</p>
              <a
                class="footer-address-link"
                href="https://www.google.com/maps?q=32a+M.+Bazhana+ave"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="View 32a M. Bazhana ave on Google Maps"
              >
                32a M. Bazhana ave
              </a>
            </li>
          </ul>
        </address>
      </nav>

      <!-- Navigation Links -->
      <nav class="footer-nav-bottom">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a
              class="footer-nav-link active"
              href="#about_us"
              aria-label="Navigate to the About us section"
            >
              About us
            </a>
          </li>
          <li class="footer-nav-list-item">
            <a
              class="footer-nav-link"
              href="#our_lesson"
              aria-label="Navigate to the Our lessons section"
            >
              Our lessons
            </a>
          </li>
          <li class="footer-nav-list-item">
            <a
              class="footer-nav-link"
              href="#our_teachers"
              aria-label="Navigate to the Teachers section"
            >
              Teachers
            </a>
          </li>
          <li class="footer-nav-list-item">
            <a
              class="footer-nav-link"
              href="#reviews"
              aria-label="Navigate to the Reviews section"
            >
              Reviews
            </a>
          </li>
          <li class="footer-nav-list-item">
            <a
              class="footer-nav-link"
              href="#contact_us"
              aria-label="Navigate to the Contact us section"
            >
              Contact us
            </a>
          </li>
        </ul>
      </nav>

      <!-- Social Media Links -->
      <ul class="header-socials footer-socials-list">
        <li class="header-socials-item footer-socials-item">
          <a
            class="socials-link footer-icon-link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Facebook"
          >
            <svg
              class="socials-icon footer-socials-icons"
              width="26"
              height="26"
              fill="currentColor"
            >
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item footer-socials-item">
          <a
            class="socials-link footer-icon-link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Instagram"
          >
            <svg
              class="socials-icon footer-socials-icons"
              width="26"
              height="26"
              fill="currentColor"
            >
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-socials-item footer-socials-item">
          <a
            class="socials-link footer-icon-link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Link to Youtube"
          >
            <svg
              class="socials-icon footer-socials-icons"
              width="26"
              height="26"
              fill="currentColor"
            >
              <use href="./images/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Footer Bottom Section -->
    <ul class="footer-text footer-bottom">
      <li class="footer-bottom-item">
        <p>©2023 English Excellence. All rights reserved.</p>
      </li>
      <li>
        <ul class="footer-policy-list">
          <li class="footer-policy-item">
            <a href="#" class="footer-policy-link" aria-label="Privacy Policy"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a href="#" class="footer-policy-link" aria-label="Terms of Service"
              >Terms of Service</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
