<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header">
    <!-- logo -->
    <p class="header-logo">
      english<span class="header-logo-span">excellence</span>
    </p>

    <!-- navigation -->
    <nav>
      <ul>
        <li><a href="" class=""></a></li>
        <li><a href="" class=""></a></li>
        <li><a href="" class=""></a></li>
        <li><a href="" class=""></a></li>
        <li><a href="" class=""></a></li>
      </ul>
    </nav>
    <!-- socials -->
    <div>
      <ul>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
        <li>
          <svg>
            <use></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
