<section class="section hero-section" id="hero">
  <div class="hero-container container">
    <!-- title and button -->
    <div class="hero-title-wrapper">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-title-span">English</span> with us!
      </h1>
    </div>

    <div class="hero-nav">
      <button class="btn hero-btn" type="button">
        <a class="leave-application" href="#leave_an_application">
          Leave an application
        </a>
      </button>

      <!-- scroll down button -->

      <a class="scroll-down-btn" href="#contact_us">
        <span class="hero-link-icon">
          <svg class="scroll-down-icon" width="20" height="20">
            <use href="./images/icons.svg#arrow-down"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
