<section class="app section" id="leave_an_application">
  <div class="container">
    <h2 class="app-title heading">
      Leave an <span class="heading-accent">application</span>
    </h2>
    <p class="app-annotation">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="app-container">
      <div class="app-card">
        <p class="app-card-title">1000</p>
        <p class="app-card-desc">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>

      <form action="" class="app-form">
        <input
          type="text"
          class="app-form-input"
          name="user-name"
          minlength="3"
          maxlength="30"
          placeholder="Name"
          title="Name must be at least 3 characters long"
          required
        />
        <input
          type="email"
          name="user-email"
          class="app-form-input"
          placeholder="Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
        <input
          type="tel"
          name="user-phone"
          class="app-form-input"
          placeholder="Phone"
          minlength="13"
          maxlength="13"
          pattern="0[0-9]{2} [0-9]{3} [0-9]{2} [0-9]{2}"
          title="Phone number must be in the format 0XX XXX XX XX"
          required
        />
        <textarea
          name="user-comment"
          class="app-form-input app-form-message"
          placeholder="Comment"
          required
        ></textarea>
        <p class="app-form-choise-head">Choose a teacher:</p>
        <div class="app-form-choise">
          <label class="app-form-label">
            <input type="radio" name="teacher_name" value="Maria" />
            <span class="app-form-icon">
              <svg width="10" height="10">
                <use href="/images/icons.svg#radio"></use>
              </svg>
            </span>
            Maria
          </label>
          <label class="app-form-label">
            <input type="radio" name="teacher_name" value="Artem" />
            <span class="app-form-icon">
              <svg width="10" height="10">
                <use href="/images/icons.svg#radio"></use>
              </svg>
            </span>
            Artem
          </label>
          <label class="app-form-label">
            <input type="radio" name="teacher_name" value="Ilona" />
            <span class="app-form-icon">
              <svg width="10" height="10">
                <use href="/images/icons.svg#radio"></use>
              </svg>
            </span>
            Ilona
          </label>
          <label class="app-form-label">
            <input type="radio" name="teacher_name" value="Volodymyr" />
            <span class="app-form-icon">
              <svg width="10" height="10">
                <use href="/images/icons.svg#radio"></use>
              </svg>
            </span>
            Volodymyr
          </label>
        </div>
        <button class="app-form-btn btn">Send</button>
        <p class="app-form-agreement">
          By clicking on “Send” button, you agree to our
          <a href="" class="app-form-agreement-link">Privacy Policy</a>,<br />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
