<div class="modal-overlay">
    <div class="modal">
        <button class="modal-close-btn" type="button" onclick="closeModal()">
            <svg class="modal-close-icon" width="40" height="40">
                <use href="../images/icons.svg#close"></use>
            </svg>
        </button>
        <div class="modal-content-box">
            <div class="modal-box-list">
                <ul class="menu-nav-list">
                    <li class="menu-list-item">
                        <a class="item-nav-link" href="#about_us">About us</a>
                    </li>
                    <li class="menu-list-item">
                        <a class="item-nav-link" href="#our_lesson">Our lessons</a>
                    </li>
                    <li class="menu-list-item">
                        <a class="item-nav-link" href="#teachers">Teachers</a>
                    </li>
                    <li class="menu-list-item">
                        <a class="item-nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="menu-list-item">
                        <a class="item-nav-link" href="#contact_us">Contact us</a>
                    </li>
                </ul>
            </div>

            <ul class="modal-socials">
                <li class="modal-socials-item">
                    <a class="socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"
                        aria-label="Link to Facebook">
                        <svg class="socials-icon" width="28" height="28">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="modal-socials-item">
                    <a class="socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                        aria-label="Link to Instagram">
                        <svg class="socials-icon" width="28" height="28">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="modal-socials-item">
                    <a class="socials-link" href="https://youtube.com" target="_blank" rel="noopener noreferrer"
                        aria-label="Link to Youtube">
                        <svg class="socials-icon" width="28" height="28">
                            <use href="./images/icons.svg#youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function closeModal() {
        const modal = document.querySelector('.modal-overlay');
        modal.classList.remove('is-open');
    }
</script>