<section class="lessons section">
  <div class="container">
    <h2 class="lessons-title heading">
      Our <span class="heading-accent">lessons</span>
    </h2>
    <p class="lessons-annotation">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lessons-list">
      <li class="lessons-item">
        <p class="lessons-item-title">Practice</p>
        <p class="heading lessons-item-price">40$ / month</p>
        <p class="lessons-annotation lessons-item-desc">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <button class="lessons-item-btn btn">Leave an application</button>
      </li>
      <li class="lessons-item">
        <p class="lessons-item-title">Standard</p>
        <p class="heading lessons-item-price">70$ / month</p>
        <p class="lessons-annotation lessons-item-desc">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <button class="btn btn-secondary lessons-item-btn">
          Leave an application
        </button>
      </li>
      <li class="lessons-item">
        <p class="lessons-item-title">Individual</p>
        <p class="heading lessons-item-price">99$ / month</p>
        <p class="lessons-annotation lessons-item-desc">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <button class="lessons-item-btn btn">Leave an application</button>
      </li>
    </ul>
  </div>
</section>
