<section class="section">
  <div class="container">
    <h2 class="heading">
      Meet our <span class="heading-accent">teachers</span>
    </h2>
    <p class="teachers-descr">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-wrap">
      <li class="teachers-card">
        <div class="teachers-card-image-wrap">
          <img
            srcset="
              ./images/teachers/maria@1x.jpg 1x,
              ./images/teachers/maria@2x.jpg 2x
            "
            src="./images/teachers/maria@1x.jpg"
            alt="Teacher Maria"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-card-subtitle">Maria</h3>
        <p class="teachers-card-descr">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-card">
        <div class="teachers-card-image-wrap">
          <img
            srcset="
              ./images/teachers/artem@1x.jpg 1x,
              ./images/teachers/artem@2x.jpg 2x
            "
            src="./images/teachers/artem@1x.jpg"
            alt="Teacher Maria"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-card-subtitle">Artem</h3>
        <p class="teachers-card-descr">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-card">
        <div class="teachers-card-image-wrap">
          <img
            srcset="
              ./images/teachers/ilona@1x.jpg 1x,
              ./images/teachers/ilona@2x.jpg 2x
            "
            src="./images/teachers/ilona@1x.jpg"
            alt="Teacher Maria"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-card-subtitle">Ilona</h3>
        <p class="teachers-card-descr">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-card">
        <div class="teachers-card-image-wrap">
          <img
            srcset="
              ./images/teachers/volodymyr@1x.jpg 1x,
              ./images/teachers/volodymyr@2x.jpg 2x
            "
            src="./images/teachers/volodymyr@1x.jpg"
            alt="Teacher Maria"
            width="150"
            height="150"
          />
        </div>
        <h3 class="teachers-card-subtitle">Volodymyr</h3>
        <p class="teachers-card-descr">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
