<section class="section reviews">
  <div class="container">
    <h2 class="heading">
      What our <span class="heading-accent">students</span> say
    </h2>
    <p class="reviews-annotation">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="card-set reviews-list">
      <li class="card-set-item review-card">
        <div class="review-card-info">
          <img
            srcset="
              ../images/reviews/img-1.jpg    1x,
              ../images/reviews/img-1@2x.jpg 2x
            "
            src="../images/reviews/img-1.jpg"
            alt="Female student"
            width="50"
            height="50"
            class="reviewer-photo"
          />
          <div class="reviewer-info">
            <p class="reviewer-name">Anna</p>
            <p class="reviewer-occupation">Student</p>
          </div>
        </div>
        <p class="review-card-comment">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="card-set-item review-card">
        <div class="review-card-info">
          <img
            srcset="
              ../images/reviews/img-2.jpg    1x,
              ../images/reviews/img-2@2x.jpg 2x
            "
            src="../images/reviews/img-2.jpg"
            alt="Male student"
            width="50"
            height="50"
            class="reviewer-photo"
          />
          <div class="reviewer-info">
            <p class="reviewer-name">Mykhailo</p>
            <p class="reviewer-occupation">Student</p>
          </div>
        </div>
        <p class="review-card-comment">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="card-set-item review-card">
        <div class="review-card-info">
          <img
            srcset="
              ../images/reviews/img-3.jpg    1x,
              ../images/reviews/img-3@2x.jpg 2x
            "
            src="../images/reviews/img-3.jpg"
            alt="Female student chewing gum"
            width="50"
            height="50"
            class="reviewer-photo"
          />
          <div class="reviewer-info">
            <p class="reviewer-name">Victoria</p>
            <p class="reviewer-occupation">Student</p>
          </div>
        </div>
        <p class="review-card-comment">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
